/*
  Name: John Wang
  Date: April 30, 2019
  Section: CSE 154AC

  styles.css layout the content of the index.html page.
  Most of the styles are handled by the Bootstrap framework but I customize some
  of the styles.
*/

@import url('https://fonts.googleapis.com/css?family=Hind|Noto+Sans+JP:700');

body {
  background-color: rgb(220,220,220);
}

header {
  background-color: #0099FF;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

dt {
  font-size: 1.5em;
  color: #296dd8;
}
.selected {
  border: 2px solid #0066ff;
}

#main-content {
  margin-top: 60px;
}

#input, #image-preview, #output {
  height: 600px;
  padding-left: 2%;
  padding-right: 2%;
}

#input {
  padding-left: 4%;
  display: flex;
  flex-direction: column;
}

#input > img {
  margin-bottom: 30px;
  object-fit: cover;
  height: 130px;
}

#image-preview {
  overflow: hidden;
}

#image-preview img {
  object-fit: cover;
  width: 100%;
  min-height: 600px;
}

#output {
  padding-right: 4%;
}

#output-text {
  padding: 4%;
  border: 2px solid rgb(50,50,50);
  background-color: rgb(169,169,169);
  height: 600px
}

#submit, #url-input {
  margin-top: 60px;
  margin-left: 40px;
  font-family: 'Hind', sans-serif;
}

#submit {
  max-width: 160px;
  min-width: 100px;
}
